body {
    background: pink;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    min-width: 960px;
    padding: 0;
}

#header img {
    height: 328px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-radius: 50%;
}

#navigation li {
	display: inline;
	list-style: none;
	margin: 135px;
	padding: 0 19px;
    text-align: end;
    
}

#navigation li a {
    color: palevioletred;
	display: inline-block;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	padding: 0 0 3px;
	text-transform: uppercase;
    
}

#body h1 {
    display: block;
    margin: auto;
    text-align: center;
    color: white;
    text-transform: uppercase;
    background-color: palevioletred;
}


#body ul li {
    margin: 5 166px;
    border: 5px solid palevioletred;
    float: left;
    width: 300px;
    height: 299px;
    display: block;
    list-style-type: disc;
    padding: 0 0 30px;
}
#body ul li img {
    width: 300px;
    height: 289px;
}
